/*
Name: general_style.js
Author: Hanich 08
Porpuse: Styling general objects for using all over the program.
*/

@import "constants.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(315deg, var(--teal-dark-green) 0%, var(--light-green) 74%);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 100%;
    font-size: 1.6rem;
}

.regular_button {
    cursor: pointer;
    background-color: var(--blue);
    color: white;
    font-size: 1.6rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.8rem;
    transition: all 0.3s;
    outline: None;
    width: 14rem;
}

.regular_button:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.6);
}

.regular_button:active {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.4);
}



.regular_input {
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
    outline: none;
}

.primary_title {}

.secondary_title {}

.navbar {
    flex: 0.2;
    background-color: var(--light-gray);
}